{
    "title"         "VacancyFormationMigration_fcc_Al"
    "test-driver"   "VacancyFormationMigration__TD_554849987965_001"
    "species"       "Al"
    "extended-id"   "VacancyFormationMigration_fcc_Al__TE_676124969573_000"
    "disclaimer"    "Computer generated"
    "domain"        "openkim.org"
    "executables"   ["runner"]
    "source-citations"  "TBA"
    "kim-api-version" "1.6"
    "pipeline-api-version" "1.0"
}