{"description" "This is a Al Morse Model Parameterization by Girifalco and Weizer using a high accuracy cutoff distance."
 "disclaimer" "None"
 "domain" "openkim.org"
 "kim-api-version" "1.6"
 "extended-id" "Pair_Morse_Shifted_GirifalcoWeizer_HighCutoff_Al__MO_140175748626_001"
 "model-driver" "Pair_Morse_Shifted__MD_552566534109_001"
 "source-citations" "L. A. Girifalco, V. G. Weizer, Phys. Rev., Vol 114, no 3, 1959, pp687--690"
 "species" ["Al"]
 "title" "This is a Al Morse Model Parameterization by Girifalco and Weizer using a high accuracy cutoff distance."}
