{"description" "The potential was designed to simulate the solidification in Al."
 "disclaimer" ""
 "domain" "openkim.org"
 "kim-api-version" "1.6"
 "extended-id" "EAM_Dynamo_Mendelev_Kramer_Al__MO_106969701023_001"
 "model-driver" "EAM_Dynamo__MD_120291908751_001"
 "source-citations" "M.I. Mendelev,  M.J. Kramer,  C.A. Becker and M. Asta, Phil. Mag. 88,  1723 - 1750 (2008)."
 "species" ["Al"]
 "title" "FS potential for Al"}
