{"description" "This is a \"Universal\" parameterization for the LennardJones612 model driver for all species types supported by the KIM API.  The parameterization uses a shifted cutoff so that all interactions have a continuous energy function at the cutoff radius.  See the README and params files for more details."
 "domain" "openkim.org"
 "extended-id" "LennardJones612_UniversalShifted__MO_959249795837_001"
 "kim-api-version" "1.6"
 "model-driver" "LennardJones612__MD_414112407348_001"
 "source-citations" "J. E. Jones, \"On the Determination of Molecular Fields. I. From the Variation of the Viscosity of a Gas with Temperature\", Proc. R. Soc. London, Ser. A, 106(738):441-462, 1924.\n\n J. E. Jones, \"On the Determination of Molecular Fields. II. From the Equation of State of a Gas\", Proc. R. Soc. London, Ser. A, 106(738):463-477, 1924.\n\nJ. E. Lennard-Jones, \"On the Forces between Atoms and Ions\", Proc. R. Soc. London, Ser. A, 109(752):584-597, 1925."
 "species" ["H"
            "He"
            "Li"
            "Be"
            "B"
            "C"
            "N"
            "O"
            "F"
            "Ne"
            "Na"
            "Mg"
            "Al"
            "Si"
            "P"
            "S"
            "Cl"
            "Ar"
            "K"
            "Ca"
            "Sc"
            "Ti"
            "V"
            "Cr"
            "Mn"
            "Fe"
            "Co"
            "Ni"
            "Cu"
            "Zn"
            "Ga"
            "Ge"
            "As"
            "Se"
            "Br"
            "Kr"
            "Rb"
            "Sr"
            "Y"
            "Zr"
            "Nb"
            "Mo"
            "Tc"
            "Ru"
            "Rh"
            "Pd"
            "Ag"
            "Cd"
            "In"
            "Sn"
            "Sb"
            "Te"
            "I"
            "Xe"
            "Cs"
            "Ba"
            "La"
            "Ce"
            "Pr"
            "Nd"
            "Pm"
            "Sm"
            "Eu"
            "Gd"
            "Tb"
            "Dy"
            "Ho"
            "Er"
            "Tm"
            "Yb"
            "Lu"
            "Hf"
            "Ta"
            "W"
            "Re"
            "Os"
            "Ir"
            "Pt"
            "Au"
            "Hg"
            "Tl"
            "Pb"
            "Bi"
            "Po"
            "At"
            "Rn"
            "Fr"
            "Ra"
            "Ac"
            "Th"
            "Pa"
            "U"
            "Np"
            "Pu"
            "Am"
            "Cm"
            "Bk"
            "Cf"
            "Es"
            "Fm"
            "Md"
            "No"
            "Lr"
            "Rf"
            "Db"
            "Sg"
            "Bh"
            "Hs"
            "Mt"
            "Ds"
            "Rg"
            "Cn"
            "Uut"
            "Uuq"
            "Uup"
            "Uuh"
            "Uus"
            "Uuo"
            "electron"
            "user01"
            "user02"
            "user03"
            "user04"
            "user05"
            "user06"
            "user07"
            "user08"
            "user09"
            "user10"
            "user11"
            "user12"
            "user13"
            "user14"
            "user15"
            "user16"
            "user17"
            "user18"
            "user19"
            "user20"]
 "title" "Efficient \"universal\" shifted Lennard-Jones model for all KIM API supported species"}
