{"description" "EAM Ni potential fit to experimental and first-principles data"
 "disclaimer" ""
 "domain" "openkim.org"
 "kim-api-version" "1.6"
 "extended-id" "EAM_Dynamo_Mishin_Farkas_Ni__MO_400591584784_001"
 "model-driver" "EAM_Dynamo__MD_120291908751_001"
 "source-citations" "Y. Mishin, D. Farkas, M.J. Mehl, and D.A. Papaconstantopoulos, \"Interatomic potentials for monoatomic metals from experimental data and ab initio calculations,\" Phys. Rev. B 59, 3393 (1999)."
 "species" ["Ni"]
 "title" "EAM Ni Potential"}
