{
    "test" "LatticeConstantHexagonalEnergy_hcp_Al_running4175cb85-3f96-11e5-8a92-d4cb786b23a2__TE_248740869817_000" 
    "model" "EAM_Dynamo_Zhou_Johnson_Al__MO_131650261510_001" 
    "domain" "openkim.org"
}