{
    "title"         "VacancyFormationMigration_diamond_Ni"
    "test-driver"   "VacancyFormationMigration__TD_554849987965_001"
    "species"       "Ni"
    "extended-id"   "VacancyFormationMigration_diamond_Ni__TE_795770707247_000"
    "disclaimer"    "Computer generated"
    "domain"        "openkim.org"
    "executables"   ["runner"]
    "source-citations"  "TBA"
    "kim-api-version" "1.6"
    "pipeline-api-version" "1.0"
}