{
    "extended-id" "ASECohesiveEnergyFromQueryExample_fcc_Ar__TE_102111117114_001" 
    "domain" "openkim.org" 
    "title" "ASE cohesive energy test example" 
    "species" ["Ar"]
    "executables" ["runner"]
    "disclaimer" "Tutorial test using the Atomic Simulation Environment which calculates the cohesive energy"
    "kim-api-version" "1.6"
    "pipeline-api-version" "1.0"
    "properties" ["tag:staff@noreply.openkim.org,2014-04-15:property/cohesive-potential-energy-cubic-crystal"]
}
