{
    "test" "LatticeConstantHexagonalEnergy_hcp_Ar_running2df41438-3fa2-11e5-9b45-d4cb786b23a2__TE_971519473781_000" 
    "model" "Pair_Lennard_Jones_Shifted_Bernardes_HighCutoff_Ar__MO_242741380554_001" 
    "domain" "openkim.org"
}