{
    "test" "VacancyFormationEnergyRelaxationVolume_diamond_Al__TE_356930350811_000" 
    "model" "Pair_Morse_Shifted_GirifalcoWeizer_HighCutoff_Al__MO_140175748626_001" 
    "domain" "openkim.org"
}