{
    "title"         "VacancyFormationEnergyRelaxationVolume_diamond_Si"
    "test-driver"   "VacancyFormationEnergyRelaxationVolume__TD_000000111111_000"
    "species"       "Si"
    "extended-id"   "VacancyFormationEnergyRelaxationVolume_diamond_Si__TE_709452849959_000"
    "disclaimer"    "Computer generated"
    "domain"        "openkim.org"
    "executables"   ["runner"]
    "source-citations"  "TBA"
    "kim-api-version" "1.6"
    "pipeline-api-version" "1.0"
}