{"description" "This Model implements the Stillinger-Weber (SW) potential for Si with a rescaled value of epsilon parameter used in the SW potential. The original epsilon value was\n2.1682 eV. Balamane et al (1992) rescaled it to 2.315 eV so that experimental cohesive energy E_coh = 4.63 eV can be obtained. The original SW potential gives E_coh = 4.3364 eV."
 "disclaimer" ""
 "domain" "openkim.org"
 "kim-api-version" "1.6"
 "extended-id" "Three_Body_Stillinger_Weber_Balamane_Si__MO_113686039439_001"
 "model-driver" "Three_Body_Stillinger_Weber__MD_335816936951_001"
 "source-citations" "1. F. H. Stillinger and T. A. Weber, \"Computer simulation of local order in condensed phases of silicon\", Phys. Rev. B, vol. 31, 5262-5271, 1985\n\n2. H. Balamane, T. Halicioglu and W. A. Tiller, \"Comparative study of silicon empirical interatomic potentials\", Phys. Rev. B, vol. 46, 2250-2279, 1992\n\n3. Balamane et al., Phys. Rev. B, vol 40, 9999-10001\n\n4. Ellad B. Tadmor and Ronald E. Miller, Modeling Materials: Continuum, Atomistic and Multiscale Techniques, Cambridge University Press, 2011"
 "species" ["Si"]
 "title" "A three-body Stillinger-Weber (SW) Model (Parameterization) for Silicon modified by Balamane et al"}
