{
    "title"         "VacancyFormationMigration_fcc_Cu"
    "test-driver"   "VacancyFormationMigration__TD_554849987965_000"
    "species"       "Cu"
    "extended-id"   "VacancyFormationMigration_fcc_Cu__TE_447100837623_000"
    "disclaimer"    "Computer generated"
    "domain"        "openkim.org"
    "executables"   ["runner"]
    "source-citations"  "TBA"
    "kim-api-version" "1.6"
    "pipeline-api-version" "1.0"
}