{"description" "This is a parameterization for the Pair_Lennard_Jones_Shifted model driver for argon (Ar).  The Lennard-Jones (LJ) parameters epsilon and sigma are due to Bernardes (1958).  The cutoff radius is set so that phi(rcut)=tol*|phi(rmin)|, where  phi(r) is the LJ potential, 'rcut' is the cutoff radius, 'rmin' is the radius at which phi(r) is a minimum, and 'tol' is a small number.  Here 'tol' is taken to be 1.e-4 for a \"high-precision\".  See the parameter file (.params) for more details."
 "disclaimer" ""
 "domain" "openkim.org"
 "kim-api-version" "1.6"
 "extended-id" "Pair_Lennard_Jones_Shifted_Bernardes_HighCutoff_Ar__MO_242741380554_001"
 "model-driver" "Pair_Lennard_Jones_Shifted__MD_498634107543_001"
 "source-citations" "Newton Bernardes, \"Theory of Solid Ne, A, Kr, and Xe at 0K\", Phys. Rev., 112(5):1534-1539, 1958."
 "species" ["Ar"]
 "title" "Shifted Lennard-Jones model for Ar with parameters from Bernardes (high precision cutoff)"}
