{
    "title"         "VacancyFormationEnergyRelaxationVolume_sc_Ni"
    "test-driver"   "VacancyFormationEnergyRelaxationVolume__TD_000000111111_000"
    "species"       "Ni"
    "extended-id"   "VacancyFormationEnergyRelaxationVolume_sc_Ni__TE_054664448998_000"
    "disclaimer"    "Computer generated"
    "domain"        "openkim.org"
    "executables"   ["runner"]
    "source-citations"  "TBA"
    "kim-api-version" "1.6"
    "pipeline-api-version" "1.0"
}