{
    "title"         "VacancyFormationMigration_hcp_Ni"
    "test-driver"   "VacancyFormationMigration__TD_000000123456_000"
    "species"       "Ni"
    "extended-id"   "VacancyFormationMigration_hcp_Ni__TE_820213304194_000"
    "disclaimer"    "Computer generated"
    "domain"        "openkim.org"
    "executables"   ["runner"]
    "source-citations"  "TBA"
    "kim-api-version" "1.6"
    "pipeline-api-version" "1.0"
}