{
    "description"   "Calculates lattice constant by minimizing energy function. Fixed output format."
    "domain"        "openkim.org"
    "extended-id"   "LatticeConstantHexagonalEnergy__TD_942334626465_003"
    "title"         "LatticeConstantHexagonalEnergy"
    "executables"   ["runner" "test_template/runner"]
    "kim-api-version" "1.7"
    "pipeline-api-version" "1.0"
    "properties"    ["tag:staff@noreply.openkim.org,2014-04-15:property/structure-hexagonal-crystal-npt" "tag:staff@noreply.openkim.org,2014-04-15:property/cohesive-free-energy-hexagonal-crystal"]
}
