{
    "title"         "VacancyFormationEnergyRelaxationVolume_hcp_Al"
    "test-driver"   "VacancyFormationEnergyRelaxationVolume__TD_000000111111_000"
    "species"       "Al"
    "extended-id"   "VacancyFormationEnergyRelaxationVolume_hcp_Al__TE_947507053383_000"
    "disclaimer"    "Computer generated"
    "domain"        "openkim.org"
    "executables"   ["runner"]
    "source-citations"  "TBA"
    "kim-api-version" "1.6"
    "pipeline-api-version" "1.0"
}