{
    "test" "VacancyFormationEnergyRelaxationVolume_diamond_Cr__TE_307004587677_000" 
    "model" "Pair_Morse_Shifted_GirifalcoWeizer_HighCutoff_Cr__MO_859700307573_001" 
    "domain" "openkim.org"
}